body{
    padding: 30px;
    background-color: #2E2E3A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.central {
    background-color: #39394d;
    border-radius: 20px;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 16px;               
    padding: 20px;  
    width: 100%;
}
h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.button{
    appearance: none;
    background-color: #A22C29;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0.5%;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 500px;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}
form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
form label {
    width: 100%;
    max-width: 500px;
    text-align: left;
}

form input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}
.menor{
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}
.campo {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}